HOST=127.0.0.1
PORT=3001
UPSTREAM_ALLOWED_HOSTS=uqload.io,uqload.is,uqload.vc,share4max.com,anime4up.rest,w1.anime4up.rest,4d.h6m1c9q.shop
UPSTREAM_ALLOW_SUBDOMAINS=true
UPSTREAM_TIMEOUT_MS=20000
UPSTREAM_MAX_REDIRECTS=3
MAX_MANIFEST_BYTES=5242880